// =============================
// Base
// =============================
@use "base/generales.scss";

// =============================
// Componentes
// =============================
@use "componentes/header.scss";

// =============================
// Pages
// =============================
@use "pages/inicio.scss";

// =============================
// Habilidades
// =============================
@use "pages/habilidades.scss";

// =============================
// curriculum
// =============================
@use "pages/curriculum.scss";

// =============================
// contacto
// =============================
@use"pages/contacto.scss";

// =============================
// Footer
// =============================
@use"componentes/footer.scss";

// =============================
// Botones
// =============================
@use"componentes/buttons.scss";

// =============================
// sobre mi
// =============================
@use"pages/sobremi.scss";
// =============================
// portafolio
// =============================

@use"pages/portafolio.scss";

// =============================
// java/sobre mi
// =============================
@use"java/habilidades-efectos.scss";


// =============================
// queries
// =============================
@use"base/queries.scss";
